
<div class="row" id="home-banner">
  <div class="container text-center">
    <div class="col-md-12">
      <h1>Welcome to</h1>
      <div class="text-center"><img class="img-responsive img-center" src="/public/img/votegoatlogo.png" /></div>
      <p class="lead"><br>Make polls, cast your votes and get feedback, from a very smart goat.</p>
      <p class="lead">Don't anger the goat, he can be MEAN.</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-md-12">
    <h1>Test Homepage</h1>
    <p>Testing page contents <a href="#">and links.</a></p>
  </div>
</div>
