
<div class="container">
  
  <div class="col-md-12">
    <h1>{{ poll.title }}</h1>
  
    <div ng-if="message">
      <div class="alert alert-info" role="alert">
        <p><b>Message from the VoteGoat:</b> {{ message }}</p>
      </div>
    </div>
    
  </div>
  
  <div class="col-md-6">
    <canvas id="voteChart" width="80%" height="80%"></canvas>
    <div id="voteChart-legend" class="chart-legend text-center"></div>
  </div>

  <div ng-if="checkVote()">
    <div class="col-md-6">
        <div class="jumbotron">
          <h3><i class="fa fa-archive"></i> You voted</h3>
          <p>Looks like you already voted on this poll. You can log in to view your activity and the Goat will keep a record of your votes.</p>
        </div>
        
        <div class="jumbotron">
          <h3><i class="fa fa-unlock-alt"></i> Log in</h3>
          <p>Sorry, you already voted on this poll so you can't add a new answer.</p>
          <a href="#/polls" class="btn btn-block btn-primary">All Polls</a>
        </div>
    </div>
  </div>
  
  
  <div ng-if="!checkVote()">
    <div class="col-md-6">
        <div class="jumbotron">
          <h3><i class="fa fa-archive"></i> Place your vote</h3>
            <form ng-submit="$parent.addVote()">
                <div class="form-group">
                    <select ng-model="$parent.myVote" name="my-vote" class="form-control" ng-options="option.option for option in poll.options">
                      <option value="">-- choose vote option --</option>
                    </select>    
                </div>
                <input type="submit" id="submit" class="btn btn-block btn-danger" value="SUBMIT VOTE" />
            </form>
        </div>
        
        <div class="jumbotron">
          <h3><i class="fa fa-list-ol"></i> Add new option</h3>
            <form ng-submit="$parent.addOption()">
                <div class="form-group">
                  <input ng-model="$parent.newOption" name="my-option" type="text" class="form-control" placeholder="Add a new answer option...">
                  <div ng-if="help">
                    <span class="help-block text-danger"><small>{{ help }}</small></span>
                  </div>
                </div>
                <input type="submit" id="submit" class="btn btn-block btn-danger" value="SUBMIT NEW ANSWER" />
            </form>
        </div>
    </div>
  </div>
  
</div>
  
<div class="row" id="poll-table-banner">
  <div class="container">
  
  <div class="col-md-12">
    <h3>Results table.</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Options</th>
          <th>Votes</th>
        </tr>
      </thead>
        <tr ng-repeat="option in poll.options">
          <td>{{ option.option }}</td>
          <td>{{ option.votes }}</td>
        </tr>
    </table>
  </div>


</div>
</div>